.banner {
    background-color: #4d00ff;
    color: white;
    text-align: center;
    margin-top: 75px;
    padding: 100px 0;
}

#small-gritty {
    height: 100px;
    width: 100px;
}

#gritter {
    color: #4d00ff;
    font-size: 100px;
    font-weight: bold;
}